:root {
    --violet: #40295e;
    --blue: #13222e;
    --white: #f5f5f5;
    --black: #1a1a1a;
    --gray: #5a5a5a;
    --yellow: #e3c200;
    --transparent: #00ffffff;
    --line-height: 1.6;
    --font-size-base: 1rem;
    --font-size-md: clamp(0.625rem, 0.305vw + 0.55rem, 0.79rem);
    --font-size-lg: clamp(0.975rem, 0.625vw + 0.82rem, 1.32rem);
    --font-size-xl: clamp(1.525rem, 1.4875vw + 1.15625rem, 2.34375rem);
    --font-family: "Arial", sans-serif;

}

/* Locally Scoped Custom Properties video Kevin Powell */

body {
width: 100vw;
height: 100vh;
background-image: url('../assets/images/image.jpg'); 
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: row; 
justify-content: space-between;
box-sizing: border-box;
}

.side-container {
  width: 33vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
width: 200px;
height: 200px;
}

.right-container {
  width: 66vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: color-mix(in srgb, var(--violet), transparent 50%);
}

form {
  width: 50%;
  border: 10px solid black;
  display: flex;
  flex-direction: column;
}

/* Use this */
input[type="email"]::placeholder,
input[type="email"]::-moz-placeholder,
input[type="email"]::-webkit-input-placeholder {
  color: blue;
}

input[type="email"]:focus:valid {
  background-color: green;
}

input[type="email"]:focus:invalid {
  background-color: red;
}

h1 {
    font-size: 42px;
    color: white;
}

/* media query  when mobile background image -50below*/

@media only screen and (max-width: 699px) {

  body {
    display: flex; 
    flex-direction: column; 
    overflow-x: hidden;
  }

  .side-container {
    width: 100%;
  }

  .right-container {
    width: 100%;
  }

}