:root {
    --violet: #40295e;
    --blue: #13222e;
    --white: #f5f5f5;
    --black: #1a1a1a;
    --gray: #5a5a5a;
    --yellow: #e3c200;
    --red: #f3464a;
    --green: #12e193;
    --transparent: #00ffffff;
    --line-height: 1.6;
    --font-size-base: 1rem;
}

@font-face {
  font-family: 'norse-bold';
  src: url('../assets/fonts/norse-bold.woff2') format(woff2);
}

@font-face {
  font-family: 'open-sans';
  src: url('../assets/fonts/open-sans.woff2') format(woff2);
}

@font-face {
  font-family: 'robotoregular';
  src: url('../assets/fonts/roboto.woff2') format(woff2);
}

/* Locally Scoped Custom Properties video Kevin Powell */

body {
position: relative;
overflow: hidden;
font-family: 'open-sans';
font-size: var(--font-size-base);
width: 100vw;
height: 100vh;
background-image: url('../assets/images/image.jpg'); 
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: row; 
justify-content: space-between;
box-sizing: border-box;
}

.side-container {
  width: 33vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
width: 200px;
height: 200px;
}

.right-container {
  width: 66vw;
  height: 100%;
  padding: 2vw; /**/
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 2rem;
  align-items: center;
  background-color: color-mix(in srgb, var(--blue), transparent 15%);
  box-shadow: -1rem 0 1rem 8px color-mix(in srgb, var(--blue), transparent 15%);
}

/* Use this */
h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
    color: white;
}

.greetings {
  text-shadow: 1px 2px 3px var(--white);
}

text {
  text-shadow: 1px 2px 3px var(--black);
}

p {
  text-align: center;
  color: var(--white);
  font-weight: bold;
  width: minmax(20% + 2rem, 77ch );
  font-size: clamp(1rem, 4vw, 1.25rem);
}

p:nth-child(2n) {
  line-height: calc(var(--line-height) + 1 );
  text-shadow: 5px 2px 5px var(--black), 2px 2px 2px color-mix(in srgb, var(--white), transparent 50%);
  font-size: calc(clamp(1rem, 4vw, 1.25rem) + 1rem);
}

span[aria-label="required"] {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

form > p {
  font-size: calc(clamp(1rem, 4vw, 1.25rem) - 1vh);
}

form > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
  width: 100%;

  & .control-container {
    display: flex;
    flex-direction: column;
    width: clamp(45vw, 40%, 45%); 
  }
}

label {
  color: var(--white);
  font: bold;
}

input {
  border: 3px solid var(--black);
  border-radius: 5px;
}

.control-container.input-valid label span {
  display: none;
}

input[type="email"]::placeholder,
input[type="email"]::-moz-placeholder,
input[type="email"]::-webkit-input-placeholder {
  color: blue;
}

input:valid {
  border: 3px solid green;
  background-color: color-mix(in srgb, var(--green), transparent 80%);
}

input:focus:invalid {
  border: 3px solid red;
  background-color: color-mix(in srgb, var(--red), transparent 80%);
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
}

button {
  width: 65%;
  height: 2rem;
  margin: auto;
  padding: 5px;
  font: bold 0.6em sans-serif;
  border: 3px solid var(--black);
  border-radius: 5px;
  background: var(--yellow);
  cursor: pointer;
  transform: rotate(-2deg);
  font-size: calc(clamp(1rem, 4vw, 1.25rem ) - 8px) ;
}

buton:hover,
button:focus {
  background: color-mix(in srgb, var(--yellow), var(--white))
}

/* media query  when mobile background image -50below*/
@media only screen and (max-width: 699px) {

  body {
    display: flex; 
    flex-direction: column; 
    background-image: none;
  }

  body::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 150%;
    top: 0;
    left: -50%;
    z-index: -1;
    background: url('../assets/images/image.jpg') no-repeat center; /* No-repeat background */
    background-color: #ddd; /* Fallback background color */
    background-size: cover; /* Cover entire pseudo-element area */
    transform: rotate(90deg); /* css rotate background image, css background rotate */
  }

  .logo-container {

    & svg {
      width: 66%;
      height: 66%; 
    }
  }

  .side-container {
    width: 100%;
    height: 15vh;
    margin: 2rem;

    & .greetings {
      display: none;
    }
  }

  .right-container {
    width: 100%;
    gap: 1rem;
  }

  .text-wrapper {
    display: none;
  }

  p:nth-child(2n) {
    line-height: var(--line-height);
  }

  button {
    width: 85%;
  }
}