body {
background-image: url('assets/images/image.jpg');
background-size: cover;
background-repeat: no-repeat;
}

h1 {
    font-size: 42px;
    text-align: center;
    color: white;
}

.logo-container {
    width: 200px;
    height: 200px;
}

/* media query  when mobile background image -50below*/