/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

:root {
    --violet: #40295e;
    --blue: #13222e;
    --white: #f5f5f5;
    --black: #1a1a1a;
    --gray: #5a5a5a;
    --yellow: #e3c200;
    --line-height: 1.6;
    --font-size-base: 1rem;
    --font-size-md: clamp(0.625rem, 0.305vw + 0.55rem, 0.79rem);
    --font-size-lg: clamp(0.975rem, 0.625vw + 0.82rem, 1.32rem);
    --font-size-xl: clamp(1.525rem, 1.4875vw + 1.15625rem, 2.34375rem);
    --font-family: "Arial", sans-serif;

}

body {
height: 100vh;
background-image: url('assets/images/image.jpg');
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

h1 {
    font-size: 42px;
    color: white;
}

.logo-container {
    width: 200px;
    height: 200px;
}

/* media query  when mobile background image -50below*/